body{
    font-family:sans-serif;
    margin: 20px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;    
}

input{
    width: 100px;
    padding: 5px;
}

#countdown{
    margin: 20px;
    margin-left: 0;
}

input[type="submit"]:hover{
    cursor: pointer;
}
